## Explore Sample Sales Data

In [1]:
import pandas as pd
from pathlib import Path

In [3]:
input_file = Path.cwd() / 'data' / 'raw' / 'sample_sales.xlsx'
#print(input_file)
df = pd.read_excel(input_file)

In [10]:
df

,invoice,company,purchase_date,product,quantity,price,extended amount
0,ZN-870-29,Realcube,2019-03-05,shirt,19,17,323
1,JQ-501-63,Zooxo,2019-07-09,book,30,14,420
2,FI-165-58,Dabtype,2019-08-12,poster,7,23,161
3,XP-005-55,Skipfire,2019-11-18,pen,7,29,203
4,NB-917-18,Bluezoom,2019-04-18,poster,36,19,684
...,...,...,...,...,...,...,...
995,ZM-628-88,Viva,2019-09-11,pen,-5,34,-170
996,DQ-810-46,Viva,2019-09-05,pen,17,32,544
997,RA-147-40,Dabfeed,2019-03-24,poster,17,34,578
998,VT-754-54,Photobean,2019-12-30,shirt,15,18,270
999,LS-463-74,Mybuzz,2019-11-12,shirt,24,34,816

In [11]:
df.head()

     invoice   company purchase_date product  quantity  price  extended amount
0  ZN-870-29  Realcube    2019-03-05   shirt        19     17              323
1  JQ-501-63     Zooxo    2019-07-09    book        30     14              420
2  FI-165-58   Dabtype    2019-08-12  poster         7     23              161
3  XP-005-55  Skipfire    2019-11-18     pen         7     29              203
4  NB-917-18  Bluezoom    2019-04-18  poster        36     19              684

In [12]:
df.tail()

,invoice,company,purchase_date,product,quantity,price,extended amount
995,ZM-628-88,Viva,2019-09-11,pen,-5,34,-170
996,DQ-810-46,Viva,2019-09-05,pen,17,32,544
997,RA-147-40,Dabfeed,2019-03-24,poster,17,34,578
998,VT-754-54,Photobean,2019-12-30,shirt,15,18,270
999,LS-463-74,Mybuzz,2019-11-12,shirt,24,34,816

In [14]:
df.columns

Index(['invoice', 'company', 'purchase_date', 'product', 'quantity', 'price',
       'extended amount'],
      dtype='object')

In [15]:
df.shape

(1000, 7)

In [16]:
df.info

<bound method DataFrame.info of        invoice    company purchase_date product  quantity  price  \
0    ZN-870-29   Realcube    2019-03-05   shirt        19     17
1    JQ-501-63      Zooxo    2019-07-09    book        30     14
2    FI-165-58    Dabtype    2019-08-12  poster         7     23
3    XP-005-55   Skipfire    2019-11-18     pen         7     29
4    NB-917-18   Bluezoom    2019-04-18  poster        36     19
..         ...        ...           ...     ...       ...    ...
995  ZM-628-88       Viva    2019-09-11     pen        -5     34
996  DQ-810-46       Viva    2019-09-05     pen        17     32
997  RA-147-40    Dabfeed    2019-03-24  poster        17     34
998  VT-754-54  Photobean    2019-12-30   shirt        15     18
999  LS-463-74     Mybuzz    2019-11-12   shirt        24     34

     extended amount
0                323
1                420
2                161
3                203
4                684
..               ...
995             -170
996              544
997              578
998              270
999              816

[1000 rows x 7 columns]>

In [17]:
df.describe()

                    purchase_date     quantity        price  extended amount
count                        1000  1000.000000  1000.000000      1000.000000
mean   2019-07-04 17:41:16.800000    22.421000    22.816000       510.270000
min           2019-01-01 00:00:00    -5.000000    10.000000      -170.000000
25%           2019-04-06 00:00:00     9.000000    16.000000       168.750000
50%           2019-07-04 12:00:00    22.000000    23.000000       435.000000
75%           2019-10-04 06:00:00    36.000000    29.000000       798.500000
max           2019-12-30 00:00:00    50.000000    35.000000      1715.000000
std                           NaN    16.246714     7.537039       426.411667

In [18]:
df['extended amount'].sum()

np.int64(510270)

In [20]:
df['extended amount'].mean()

np.float64(510.27)

In [21]:
df['invoice'].nunique()

1000

In [22]:
df['product'].head()

0     shirt
1      book
2    poster
3       pen
4    poster
Name: product, dtype: object

In [23]:
df['product'].nunique()

4

In [24]:
df['price'].count()

np.int64(1000)

In [25]:
df['product'].value_counts()

product
shirt     271
poster    269
book      234
pen       226
Name: count, dtype: int64

In [26]:
df['product'].value_counts()

product
shirt     271
poster    269
book      234
pen       226
Name: count, dtype: int64

In [27]:
df['product'].value_counts().div(100)

product
shirt     2.71
poster    2.69
book      2.34
pen       2.26
Name: count, dtype: float64

In [28]:
df['product'].value_counts(normalize=True)

product
shirt     0.271
poster    0.269
book      0.234
pen       0.226
Name: proportion, dtype: float64

In [29]:
df.head()

     invoice   company purchase_date product  quantity  price  extended amount
0  ZN-870-29  Realcube    2019-03-05   shirt        19     17              323
1  JQ-501-63     Zooxo    2019-07-09    book        30     14              420
2  FI-165-58   Dabtype    2019-08-12  poster         7     23              161
3  XP-005-55  Skipfire    2019-11-18     pen         7     29              203
4  NB-917-18  Bluezoom    2019-04-18  poster        36     19              684

In [4]:
summary_columns = ['price', 'quantity']
df[summary_columns].mean()

price       22.816
quantity    22.421
dtype: float64

In [5]:
df[['quantity', 'price']].mean()

quantity    22.421
price       22.816
dtype: float64

In [34]:
df['Country'] = 'USA'

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   invoice          1000 non-null   object
 1   company          1000 non-null   object
 2   purchase_date    1000 non-null   datetime64[ns]
 3   product          1000 non-null   object
 4   quantity         1000 non-null   int64
 5   price            1000 non-null   int64
 6   extended amount  1000 non-null   int64
 7   Country          1000 non-null   object
dtypes: datetime64[ns](1), int64(3), object(4)
memory usage: 62.6+ KB

In [40]:
df['Fee'] = df['extended amount'] * 0.015

In [38]:
df.head()

,invoice,company,purchase_date,product,quantity,price,extended amount,Country,Fee
0,ZN-870-29,Realcube,2019-03-05,shirt,19,17,323,USA,48.45
1,JQ-501-63,Zooxo,2019-07-09,book,30,14,420,USA,63.00
2,FI-165-58,Dabtype,2019-08-12,poster,7,23,161,USA,24.15
3,XP-005-55,Skipfire,2019-11-18,pen,7,29,203,USA,30.45
4,NB-917-18,Bluezoom,2019-04-18,poster,36,19,684,USA,102.60

## Column Name

In [42]:
df.columns

Index(['invoice', 'company', 'purchase_date', 'product', 'quantity', 'price',
       'extended amount', 'Country', 'Fee'],
      dtype='object')

In [43]:
    list(df.columns)

['invoice',
 'company',
 'purchase_date',
 'product',
 'quantity',
 'price',
 'extended amount',
 'Country',
 'Fee']

In [44]:
[c.replace(' ', '_') for c in df.columns]

['invoice',
 'company',
 'purchase_date',
 'product',
 'quantity',
 'price',
 'extended_amount',
 'Country',
 'Fee']

In [45]:
df.head()

,invoice,company,purchase_date,product,quantity,price,extended amount,Country,Fee
0,ZN-870-29,Realcube,2019-03-05,shirt,19,17,323,USA,4.845
1,JQ-501-63,Zooxo,2019-07-09,book,30,14,420,USA,6.300
2,FI-165-58,Dabtype,2019-08-12,poster,7,23,161,USA,2.415
3,XP-005-55,Skipfire,2019-11-18,pen,7,29,203,USA,3.045
4,NB-917-18,Bluezoom,2019-04-18,poster,36,19,684,USA,10.260

In [46]:
df.columns = [c.replace(' ', '_') for c in df.columns]

In [47]:
df.head()

,invoice,company,purchase_date,product,quantity,price,extended_amount,Country,Fee
0,ZN-870-29,Realcube,2019-03-05,shirt,19,17,323,USA,4.845
1,JQ-501-63,Zooxo,2019-07-09,book,30,14,420,USA,6.300
2,FI-165-58,Dabtype,2019-08-12,poster,7,23,161,USA,2.415
3,XP-005-55,Skipfire,2019-11-18,pen,7,29,203,USA,3.045
4,NB-917-18,Bluezoom,2019-04-18,poster,36,19,684,USA,10.260

In [49]:
df.columns = [c.lower() for c in df.columns]

df.head()

In [6]:
df.loc[0, :]

invoice                      ZN-870-29
company                       Realcube
purchase_date      2019-03-05 00:00:00
product                          shirt
quantity                            19
price                               17
extended amount                    323
Name: 0, dtype: object

In [52]:
df.loc[[0,1,2,3,4], :]

,invoice,company,purchase_date,product,quantity,price,extended_amount,country,fee
0,ZN-870-29,Realcube,2019-03-05,shirt,19,17,323,USA,4.845
1,JQ-501-63,Zooxo,2019-07-09,book,30,14,420,USA,6.300
2,FI-165-58,Dabtype,2019-08-12,poster,7,23,161,USA,2.415
3,XP-005-55,Skipfire,2019-11-18,pen,7,29,203,USA,3.045
4,NB-917-18,Bluezoom,2019-04-18,poster,36,19,684,USA,10.260

In [53]:
df.loc[: , ['company', 'purchase_date', 'extended_amount']]

       company purchase_date  extended_amount
0     Realcube    2019-03-05              323
1        Zooxo    2019-07-09              420
2      Dabtype    2019-08-12              161
3     Skipfire    2019-11-18              203
4     Bluezoom    2019-04-18              684
..         ...           ...              ...
995       Viva    2019-09-11             -170
996       Viva    2019-09-05              544
997    Dabfeed    2019-03-24              578
998  Photobean    2019-12-30              270
999     Mybuzz    2019-11-12              816

[1000 rows x 3 columns]

In [60]:
df.loc[: , 'company':'extended_amount']

       company purchase_date product  quantity  price  extended_amount
0     Realcube    2019-03-05   shirt        19     17              323
1        Zooxo    2019-07-09    book        30     14              420
2      Dabtype    2019-08-12  poster         7     23              161
3     Skipfire    2019-11-18     pen         7     29              203
4     Bluezoom    2019-04-18  poster        36     19              684
..         ...           ...     ...       ...    ...              ...
995       Viva    2019-09-11     pen        -5     34             -170
996       Viva    2019-09-05     pen        17     32              544
997    Dabfeed    2019-03-24  poster        17     34              578
998  Photobean    2019-12-30   shirt        15     18              270
999     Mybuzz    2019-11-12   shirt        24     34              816

[1000 rows x 6 columns]

In [10]:
company_only = df.loc[:, 'company':'price'].copy()

In [11]:
print(company_only)

       company purchase_date product  quantity  price
0     Realcube    2019-03-05   shirt        19     17
1        Zooxo    2019-07-09    book        30     14
2      Dabtype    2019-08-12  poster         7     23
3     Skipfire    2019-11-18     pen         7     29
4     Bluezoom    2019-04-18  poster        36     19
..         ...           ...     ...       ...    ...
995       Viva    2019-09-11     pen        -5     34
996       Viva    2019-09-05     pen        17     32
997    Dabfeed    2019-03-24  poster        17     34
998  Photobean    2019-12-30   shirt        15     18
999     Mybuzz    2019-11-12   shirt        24     34

[1000 rows x 5 columns]

In [13]:
df.iloc[:, 1:5]

       company purchase_date product  quantity
0     Realcube    2019-03-05   shirt        19
1        Zooxo    2019-07-09    book        30
2      Dabtype    2019-08-12  poster         7
3     Skipfire    2019-11-18     pen         7
4     Bluezoom    2019-04-18  poster        36
..         ...           ...     ...       ...
995       Viva    2019-09-11     pen        -5
996       Viva    2019-09-05     pen        17
997    Dabfeed    2019-03-24  poster        17
998  Photobean    2019-12-30   shirt        15
999     Mybuzz    2019-11-12   shirt        24

[1000 rows x 4 columns]

In [14]:
df.columns

Index(['invoice', 'company', 'purchase_date', 'product', 'quantity', 'price',
       'extended amount'],
      dtype='object')

In [ ]:
df.iloc[0:5, 1:3]